menu "ULP Configuration"
  choice ULP_RTC_SDA
      prompt "ULP RTC SDA Pin"
      default ULP_RTC_SDA_IO_8
      config ULP_RTC_SDA_IO_8
          bool "RTC GPIO 8"
      config ULP_RTC_SDA_IO_9
          bool "RTC GPIO 9"
  endchoice
  config ULP_I2C_SDA_IO
    int
    default 8 if ULP_RTC_SDA_IO_8
    default 9 if ULP_RTC_SDA_IO_9
  config ESP32_I2C_SDA_IO
    int
    default 33 if ULP_RTC_SDA_IO_8
    default 32 if ULP_RTC_SDA_IO_9

  choice ULP_RTC_SCL
      prompt "ULP RTC SCL Pin"
      default ULP_RTC_SCL_IO_9
      config ULP_RTC_SCL_IO_8
          bool "RTC GPIO 8"
      config ULP_RTC_SCL_IO_9
          bool "RTC GPIO 9"
  endchoice
  config ULP_I2C_SCL_IO
    int
    default 8 if ULP_RTC_SCL_IO_8
    default 9 if ULP_RTC_SCL_IO_9
  config ESP32_I2C_SCL_IO
    int
    default 33 if ULP_RTC_SCL_IO_8
    default 32 if ULP_RTC_SCL_IO_9

  source "$(ULP_SENSOR_PATH)/ina219/Kconfig"

endmenu # "ULP Configuration"

